#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: 'Roboto', serif;
  background-color: lightgoldenrodyellow;
  padding: 20px;
}

#github {
    height: 3em;
}

#greeting-container {
  margin-top: 20px;
}

#profile {
    height: 5em;
}
