#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: 'Roboto', serif;
  background-color: oldlace;
  padding: 20px;
}

#chart-container {
    margin-top:30px;
}

#comments {
    background-color: lightgrey;
    padding: 20px;
    margin-top: 30px;
}

#github {
    height: 3em;
}

#greeting-container {
  margin-top: 20px;
}

#profile {
    height: 5em;
}
